$primary-light: hsl(0, 0%, 95%);
$primary-grey: hsl(0, 0%, 50%);
$primary-dark: hsl(0, 0%, 5%);

$primary-blue: hsl(197, 68%, 34%);
$secondary-blue: hsl(217, 61%, 27%);
$tertiary-blue: hsl(232, 47%, 25%);

$primary-yellow: hsl(43, 100%, 50%);
