@font-face {
  font-weight: 700;
  src: url("/assets/fonts/Satoshi-Bold.otf") format("opentype");
  font-family: "Satoshi";
}

@font-face {
  font-weight: 400;
  src: url("/assets/fonts/Satoshi-Regular.otf") format("opentype");
  font-family: "Satoshi";
}

@font-face {
  font-weight: 700;
  src: url("/assets/fonts/AttenNewBold.otf") format("opentype");
  font-family: "AttenNew";
}

h1,
h2,
h3,
label {
  font-weight: 700;
  font-family: "Satoshi", sans-serif;
}

input,
a,
button {
  font-weight: 700;
  font-family: "AttenNew", sans-serif;
}

p,
textarea {
  font-weight: 400;
  font-family: "Satoshi", sans-serif;
}
